body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text for better contrast */
    text-align: center;
}

#container {
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    max-width: 90%; /* Limit the width to prevent overflow on small screens */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.button {
    display: inline-block;
    background-color: #6200ea; /* A vibrant purple color for the buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #3700b3; /* A darker shade of purple on hover */
    transform: scale(1.05); /* Button slightly increases in size on hover */
}

.hidden {
    display: none;
}

#noButton {
    margin-top: 5vh; /* Use viewport height to ensure it's always relative to screen size */
    /* Remove or adjust margin-left if it's causing the button to move off-screen */
}

@media (max-width: 768px) { /* Adjusts styles for screens smaller than 768px */
    #noButton {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}


#question {
    margin-bottom: 20px;
    font-size: 24px; /* Larger font size for better readability */
    padding: 0 10px; /* Add padding to prevent text from touching the edges on small screens */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .button {
        font-size: 14px; /* Smaller font size for better fit on small screens */
        padding: 8px 15px; /* Adjust padding to maintain proportion */
    }

    #question {
        font-size: 20px; /* Adjust the question font size for smaller screens */
    }

    /* Adjust button positions for better usability on small screens */
    #noButton {
        margin-top: 10px; /* Reduce space between the yes and no buttons */
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

/* Additional styles for button and question enhancements */
.button#yesButton {
    background-color: #ff4081; /* Make the yes button pink */
}

#question {
    font-size: 35px; /* Make the TQM text slightly bigger */
    font-family: 'Cursive', sans-serif; /* Change font for a prettier look */
    margin-top: 0px; /* Adjust spacing */
}

/* Style for positioning the no button directly below the yes button */
#noButton {
    position: fixed; /* Keeps the button's position relative to the viewport */
    transition: top 0.5s, left 0.5s; /* Smooth movement animation */
}
